Python libraries used in this notebook.

In [1]:
import pandas as pd
import requests

Generate map of census tracts for the 100th state congress district of Florida

In [2]:
resp = requests.get('https://api.census.gov/data/2020/dec/pl?get=NAME&for=tract%20(or%20part):*&in=state:12%20state%20legislative%20district%20(lower%20chamber):100%20county%20(or%20part):086')
txt = resp.json()
map = pd.DataFrame(txt)

In [3]:
new_header = map.iloc[0] 
map = map[1:] 
map.columns = new_header 
map.reset_index(inplace=True, drop=True)

In [4]:
map['CensusTract'] = map['NAME']

In [5]:
map['CensusTract'] = map['CensusTract'].str.replace("Census Tract ","") 
map['CensusTract'] = map['CensusTract'].str.split(',').str[0]
map['CensusTract'] = map['CensusTract'].str.replace("\(part\)","")

/tmp/ipykernel_37389/2880120312.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  map['CensusTract'] = map['CensusTract'].str.replace("\(part\)","")

Preview census tract to FL 100th Congressional District map

In [6]:
display(map)

,NAME,state,state legislative district (lower chamber),county (or part),tract (or part),CensusTract
0,"Census Tract 1.07, Miami-Dade County (part), S...",12,100,086,000107,1.07
1,"Census Tract 1.09 (part), Miami-Dade County (p...",12,100,086,000109,1.09
2,"Census Tract 1.15, Miami-Dade County (part), S...",12,100,086,000115,1.15
3,"Census Tract 1.18, Miami-Dade County (part), S...",12,100,086,000118,1.18
4,"Census Tract 1.20, Miami-Dade County (part), S...",12,100,086,000120,1.20
5,"Census Tract 1.21, Miami-Dade County (part), S...",12,100,086,000121,1.21
6,"Census Tract 1.22, Miami-Dade County (part), S...",12,100,086,000122,1.22
7,"Census Tract 1.23, Miami-Dade County (part), S...",12,100,086,000123,1.23
8,"Census Tract 1.25, Miami-Dade County (part), S...",12,100,086,000125,1.25
9,"Census Tract 1.26, Miami-Dade County (part), S...",12,100,086,000126,1.26
10,"Census Tract 1.27, Miami-Dade County (part), S...",12,100,086,000127,1.27
11,"Census Tract 1.28 (part), Miami-Dade County (p...",12,100,086,000128,1.28
12,"Census Tract 1.29, Miami-Dade County (part), S...",12,100,086,000129,1.29
13,"Census Tract 1.30, Miami-Dade County (part), S...",12,100,086,000130,1.30
14,"Census Tract 1.31, Miami-Dade County (part), S...",12,100,086,000131,1.31
15,"Census Tract 1.32, Miami-Dade County (part), S...",12,100,086,000132,1.32
16,"Census Tract 1.34, Miami-Dade County (part), S...",12,100,086,000134,1.34
17,"Census Tract 1.40, Miami-Dade County (part), S...",12,100,086,000140,1.40
18,"Census Tract 1.41, Miami-Dade County (part), S...",12,100,086,000141,1.41
19,"Census Tract 1.42, Miami-Dade County (part), S...",12,100,086,000142,1.42
20,"Census Tract 1.43, Miami-Dade County (part), S...",12,100,086,000143,1.43
21,"Census Tract 1.44, Miami-Dade County (part), S...",12,100,086,000144,1.44
22,"Census Tract 1.45, Miami-Dade County (part), S...",12,100,086,000145,1.45
23,"Census Tract 1.46, Miami-Dade County (part), S...",12,100,086,000146,1.46
24,"Census Tract 12.04 (part), Miami-Dade County (...",12,100,086,001204,12.04
25,"Census Tract 38.01 (part), Miami-Dade County (...",12,100,086,003801,38.01
26,"Census Tract 38.03, Miami-Dade County (part), ...",12,100,086,003803,38.03
27,"Census Tract 38.04, Miami-Dade County (part), ...",12,100,086,003804,38.04
28,"Census Tract 9900 (part), Miami-Dade County (p...",12,100,086,990000,9900

Cleanup census age and gender demographics.

In [7]:
df = pd.read_excel(r'/home/jovyan/test_census_data/Input/ACSDP5Y2020.DP04-2022-07-22T194355.xlsx')

Remove percentages and "Label" column.

In [8]:
df = df[df.Label != 'Percent']
df.drop('Label', axis=1, inplace=True)

Remove total housing units column

In [9]:
df.drop('Occupied housing units', axis=1, inplace=True)

Cleanup census tract.

In [10]:
df['CensusTract'] = df['CensusTract'].str.replace("Census Tract","") 
df['CensusTract'] = df['CensusTract'].str.replace(", Miami-Dade County, Florida","")
df['CensusTract'] = df['CensusTract'].str.strip()
df = df.set_index('CensusTract')

Remove aggregate columns from census data.

In [11]:
df = df.melt(var_name='OccupancyType', value_name='HouseholdCount', ignore_index=False)

filter age and gender demo by florida 100th census tracts

In [12]:
df = df[df.index.isin(map['CensusTract'])]

Preview final results

In [13]:
display(df)

               OccupancyType HouseholdCount
CensusTract
1.07          Owner-occupied            384
1.15          Owner-occupied            516
1.18          Owner-occupied            350
1.20          Owner-occupied          1,451
1.21          Owner-occupied            464
1.22          Owner-occupied          1,377
1.23          Owner-occupied          1,353
1.25          Owner-occupied          1,290
1.26          Owner-occupied            414
1.27          Owner-occupied            875
1.29          Owner-occupied            868
1.30          Owner-occupied            740
1.31          Owner-occupied          1,007
1.32          Owner-occupied          1,877
1.34          Owner-occupied            907
1.40          Owner-occupied            345
1.41          Owner-occupied            154
1.42          Owner-occupied          1,599
1.43          Owner-occupied            927
1.44          Owner-occupied            279
1.45          Owner-occupied            831
1.46          Owner-occupied          1,198
38.03         Owner-occupied          1,078
38.04         Owner-occupied          1,350
1.07         Renter-occupied          1,027
1.15         Renter-occupied            528
1.18         Renter-occupied             96
1.20         Renter-occupied            499
1.21         Renter-occupied            170
1.22         Renter-occupied            487
1.23         Renter-occupied            499
1.25         Renter-occupied            775
1.26         Renter-occupied            641
1.27         Renter-occupied            491
1.29         Renter-occupied            152
1.30         Renter-occupied            402
1.31         Renter-occupied            748
1.32         Renter-occupied            946
1.34         Renter-occupied            632
1.40         Renter-occupied          1,481
1.41         Renter-occupied            561
1.42         Renter-occupied            865
1.43         Renter-occupied            710
1.44         Renter-occupied            327
1.45         Renter-occupied             58
1.46         Renter-occupied            626
38.03        Renter-occupied            286
38.04        Renter-occupied            935

In [14]:
df.to_excel('/home/jovyan/test_census_data/Output/output_home_ownership_miami_dade_100th.xlsx', sheet_name='AgeSex')